<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href="../public/css/chat-rooms.css">
</head>
<body>
    <div class="cr-container">
        <h1 class="cr-title">ChatCAT</h1>
        <div class="cr-userbox">
            <h3> itay koren | <a href="#">Logout</a></h3>
        </div>
        <div class="cr-room">
            <input type="text" class="new-room" autocomplete="off">
            <button id="create">Create Room</button>
        </div>
        <div class="cr-roomlist">
            <ul class="roomlist">
                <a href="#"> <li>NodeJS </li></a>
                <a href="#"> <li>RickAndMorty </li></a>
                <a href="#"> <li>Racing </li></a>
                <a href="#"> <li>DogsAndCats </li></a>
            </ul>
        </div>
    </div>

</body>
</html>