<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/room.css">
</head>

<body>
    <div class="rm-container">
        <div class="">
            <h1 class="rm-title">ChatCAT</h1>
            <h3 class="user-name"> itay koren | <a href="#">Logout</a>More ChatRooms</h3>
        </div>
        <div class="rm-roomname">
            <h6>NodeJS</h6>
        </div>
        <div class="rm-messages">
            <div class="messages">
                <div class="msgbox">
                    <div class="pic"><img src="" alt="" style="width:50px;height:50px"></div>
                    <div class="msg">hi there this is me, MARIO!</div>
                </div>
            </div>
            <div class="rm-users">
                <div class="users">
                    <img src="" alt="" style="width:50px;height: 50px">
                    <h5>Itay Koren</h5>
                </div>
            </div>
        </div>
        <div class="rm-newmessage"><input type="text" class="newmessage" autocomplete="off" placeholder="type your message">
        </div>
    </div>
</body>

</html>