body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;    
}

.cr-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
}