body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    
}

.hm-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: whitesmoke;
}
button{
    width:100px;
}
